@import "node_modules/materialize-css/sass/materialize.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$secondary-color:#264653;
$avatar-dimen: 48px;
:root {
    --first-color: #264653;
    --second-color: #2A9D8F;
    --third-color: #E9C46A;
    --fourth-color: #F4A261;
    --fiveth-color: #E76F51;
    --sixth-color: #FFFFFF;
    --seventh-color:  #FAFAFA;
    --eight-color: #2851A3;
    --nineth-color: #3c65b6;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: var(--seventh-color);
    font-family: 'Roboto', sans-serif;
    color: var(--first-color);
}

.iphone {
    max-width: 100%;
}
.site-footer {
    text-transform: uppercase;
    font-size: 12px;
}
.login-box, .signup-box {
    background-color: var(--sixth-color);
    border: 1px solid  var(--sixth-color);
    box-shadow: 0 0 1px rgb(0, 0, 0);
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
}
#main-container {
    margin-top: 0;
}
.landing {
    margin: 30px auto;
}
#header-container .photogram, #main-container .photogram {
    font-family: 'Pacifico', cursive;
    color: var(--first-color);
}
.signup-form {
    width: 65%;
    margin: 0 auto;
}
.signup-form h2 {
    font-size: 1.2em;
}
.signup-form .btn.btn-fb {
    background: var(--eight-color);
    font-size: 1em;
}
.signup-form .btn.btn-fb:hover,.btn.btn.btn-signup:hover {
    background: var(--nineth-color);
}
.signup-form  .btn.btn-signup {
    background: var(--eight-color);
}
.header {
    background-color:  white;
    color: var(--first-color);
    box-shadow: none;
    border-bottom: 1px solid #2A9D8F;
}
.timeline {
    padding: 30px 0 ;
}
.avatar {
    width: $avatar-dimen;
    height: $avatar-dimen;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
}
.card small.time{
    line-height: $avatar-dimen;
}
.card p {
    padding:20px 0;
}
.card .likes {
    line-height: 30px;
    margin-left: 12px;
}
.card i {
    font-size: 30px;
}
.card .far.fa-heart {
    color : $secondary-color;
}
.card .fas.fa-heart {
    color: var( --second-color);
    display: none;
}
.card.liked {
    .fas.fa-heart {
        display: block;
    }
    .far.fa-heart {
        display: none;
    }
}
.form-upload {
    span, button {
        color: var(--sixth-color);
    }
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin:10px;

        input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            bottom: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        i {
            margin-right: 5px;
        }
    }
    .fileUpload:hover{
        // transform: scale(1.01);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
}
button#btnUpload:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
button#btnCancel:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.container.user-pofile{
    margin-top: 50px;

    .picture-container {
        display: flex;
        // align-items: center;
        justify-content: center;
        height: 400px;
        margin-bottom: 20px;
        position: relative;
        background-size: cover;
        flex-wrap: wrap;

        &:hover {
          .picture {
            filter: blur(3px);
          }

          .likes {
            display: flex;
          }
        }

        .picture {
          object-fit: cover;
          margin-bottom: 20px;
          display: block;
          max-width: 100%;
          max-height: 100%;
        }

        .likes {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
          display: none;
          justify-content: center;
          align-items: center;
          color: var(--second-color);
          font-size: 34px;
          display: none
        }

        .fas.fa-heart {
          margin-right: 8px;
          display: inline-block;
        }
      }
}
