doctype html
html(lang='en')
  head
    title Photogram
    meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='public/css/style.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
  body
    section#main-container
    footer.site-footer
      .container
        .row
          .col.s12.l3.center-align
            a.dropdown-trigger.btn.btn-flat(href='#' data-target='dropdown1') Idiom
            ul#dropdown1.dropdown-content
              li
                a(href='#!') Español
              li
                a(href='#!') English
          .col.s12.l3.push-l6.center-align Copygrith 2021 Photogram™
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    script(src='index.js')
